@model IEnumerable<ProyFinalDESWB.Models.ListarEmpleado>

@{
    ViewData["Title"] = "ListarEmpleadoNo";
}

<h1>Lista de Empleados</h1>
<br />
<p>
    <a asp-action="RegistrarEmpleado" class="btn btn-primary">Registrar Empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecnac)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecnac)
            </td>
            <td>
                <a asp-action="ActualizarEmpleado" asp-route-codemp="@item.codemp" class="btn btn-info">Actualizar</a> |
                <a data-codemp="@item.codemp" data-nomemp="@item.nombre @item.apellido" class="btn btn-danger EmpleadoEliButton">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="modalEliminarEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="rsptaEliEmpleado"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnEliminarEmpleadoConfirmar" type="button" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            // Manejar el clic del botón Eliminar
            $("a.EmpleadoEliButton").click(function () {
                var codemp = $(this).data("codemp");
                var nomemp = $(this).data("nomemp");
                // Configurar el modal de confirmación
                $("#modalEliminarEmpleado").modal('show');
                // Asignar el código del empleado al botón de confirmación en el modal
                $("#btnEliminarEmpleadoConfirmar").data("codemp", codemp);
                $("#rsptaEliEmpleado").text("¿Estás seguro que deseas eliminar al empleado " + nomemp + "?");
            });

            // Manejar el clic del botón Confirmar Eliminación en el modal
            $("#btnEliminarEmpleadoConfirmar").click(function () {
                var codEmpleado = $(this).data("codemp");

                // Realizar la eliminación a través de AJAX
                $.ajax({
                    url: "/Empleado/EliminarEmpleado",
                    method: "POST",
                    data: { codemp: codEmpleado },
                    success: function (response) {
                        // Manejar la respuesta
                        if (response.success) {
                            console.log(response); // Puedes mostrar información en la consola si lo deseas
                            $("#modalEliminarEmpleado").modal('hide');
                            // Puedes realizar acciones específicas sin recargar la página, como actualizar la tabla
                            // Por ejemplo, puedes eliminar la fila correspondiente a ese empleado de la tabla
                            $("tr[data-codemp='" + codEmpleado + "']").remove();
                        } else {
                            console.error(response.message);
                            alert("Error al eliminar al empleado.");
                        }
                    },
                    error: function (error) {
                        console.error(error);
                        $("#modalEliminarEmpleado").modal('hide');
                        alert("Error al eliminar al empleado.");
                    }
                });
            });
        });
    </script>
}