@model Co


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

@{
    ViewData["Title"] = "ListarConsultores";
}

<h1>ListarConsultores</h1>

<div>
    <button type="button" class="btn btn-primary" id="btnRegistrarConsultor">
        Registrar Consultor
    </button>
</div>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.consultores.FirstOrDefault().cod_consultores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consultores.FirstOrDefault().nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consultores.FirstOrDefault().apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consultores.FirstOrDefault().dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consultores.FirstOrDefault().correo)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.consultores.FirstOrDefault().nomespecialidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.consultores)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod_consultores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomespecialidad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Registro de Consultor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario de registro aquí -->
                <form id="consultorForm">
                    <div class="mb-3">
                        <label asp-for="registrar.nombre" class="form-label">Nombre:</label>
                        <input asp-for="registrar.nombre" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="registrar.apellido" class="form-label">Apellido:</label>
                        <input asp-for="registrar.apellido" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="registrar.dni" class="form-label">DNI:</label>
                        <input asp-for="registrar.dni" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="registrar.correo" class="form-label">Correo:</label>
                        <input asp-for="registrar.correo" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="registrar.codespecialidad" class="form-label">Especialidad:</label>
                        <!-- Aquí puedes usar un dropdown o input según sea necesario -->
                        <input asp-for="registrar.codespecialidad" class="form-control" />
                    </div>
                    <!-- Otros campos del formulario -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $("#btnRegistrarConsultor").click(function () {
                $("#registerModal").modal('show');
            });
        });

        function registrarConsultor(){
            var formularioDatos = $('#consultorForm').serialize();
            $.ajax({
                type: "POST",
                url: "/Consultor/GrabarConsultores",
                data: formularioDatos,
                success: function(response){
                    console.log(response);
                    $("#registerModal").modal('hide');
                },
                error: function (error){
                    console.log(error)
                }
            });
        }
    </script>
}
