@model IEnumerable<ProyFinalDESWB.Models.Consultores>

@{
    ViewData["Title"] = "ListarConsultores";
}

<h1>ListarConsultores</h1>

<p>
    <a asp-action="GrabarConsultores" class="btn btn-primary">Nuevo Consultor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cod_consultores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomespecialidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod_consultores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomespecialidad)
            </td>
            <td>
                    <a asp-action="ActualizarConsultor" class="btn btn-warning" asp-route-cod_consultores="@item.cod_consultores">Actualizar</a> |
                    <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $("#btnRegistrarConsultor").click(function () {
                $("#registerModal").modal('show');
            });
        });
/*
        function registrarConsultor() {
            var formularioDatos = $('#consultorForm').serialize();
            $.ajax({
                type: "POST",
                url: "/Consultor/GrabarConsultores",
                data: formularioDatos,
                success: function (response) {
                    console.log(response);
                    $("#registerModal").modal('hide');
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }*/
    </script>
}