@model IEnumerable<ProyFinalDESWB.Models.SP_LISTAR_CONSULTOR>

@{
    ViewData["Title"] = "ListarConsultores";
}

<h1>ListarConsultores</h1>

<p>
    <a asp-action="GrabarConsultores" class="btn btn-primary">Nuevo Consultor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cod_consultores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomespecialidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod_consultores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomespecialidad)
            </td>
            <td>
                    <a asp-action="ActualizarConsultor" class="btn btn-warning" asp-route-cod_consultores="@item.cod_consultores">Actualizar</a> |
                    <!--</1><a asp-action="EliminarConsultor" asp-route-cod_consultores="@item.cod_consultores" class="btn btn-danger">Eliminar</a> -->
                    <a data-cod_consultores="@item.cod_consultores" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar al consultor? 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnEliminarConfirmar" type="button" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            // Manejar el clic del botón Eliminar
            $(".btn-danger").click(function () {
                var codConsultor = $(this).data("cod_consultores");
                // Configurar el modal de confirmación
                $("#modalEliminar").modal('show');
                // Asignar el código del consultor al botón de confirmación en el modal
                $("#btnEliminarConfirmar").data("cod_consultores", codConsultor);
            });

            // Manejar el clic del botón Confirmar Eliminación en el modal
            $("#btnEliminarConfirmar").click(function () {
                var codConsultor = $(this).data("cod_consultores");

                // Realizar la eliminación a través de AJAX
                $.ajax({
                    url: "/Consultor/EliminarConsultor",
                    method: "POST",
                    data: { cod_consultores: codConsultor },
                    success: function (response) {
                        // Manejar la respuesta (puedes actualizar la tabla u otros elementos según sea necesario)
                        console.log(response);
                        $("#modalEliminar").modal('hide');
                        location.reload(); // Recargar la página (puedes cambiar esto según tus necesidades)
                    },
                    error: function (error) {
                        console.log(error);
                        $("#modalEliminar").modal('hide');
                        alert("Error al eliminar el consultor."); //PARA PODER ELIMINAR
                    }
                });
            });
        });
    </script>
}